html{
	font-family: sans-serif;
}
body{
	margin: 0;
}
.wrapper{

	background-color: #286c0a;
	padding: 40px 0px;
}
.flex_container{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	max-width: 1290px;
	margin: 0 auto;
}
/**********************PRICE***********************/
.cart{
	text-align: center;
	width: 400px;
	background-color: #ffffff;
}
.cart-price__title{
	padding:36px 0px ;
	font-weight: bold;
}

.title{
	font-weight: bold;
	padding: 50px 0px;
	display: block;
	color: #ffffff;
	text-align: center;
	font-size: 36px;
}
.subtitle{
	padding-bottom: 50px;
	display: block;
	font-size: 18px;
	color: #ffffff;
	text-align: center;

}
p.icon:before  {
   content: url(img/icon.png);
   padding-right: 10px;

	}
.price__text{
	display: block;
	font-weight: bold;
	}
img{
	padding: 20px 0px;
	}
.price__button{
	margin-bottom: 50px;
}
.button_big{
	height: 64px;
	width: 200px;

}
.button{
	text-transform: uppercase;
	font-weight: bold;
	color: #ffffff;
	border: 1px solid #fab102;
	border-radius: 10px;
	background-color: #fab102;
	font-size: 18px;

}
.cart-price__text{
	font-size: 18px;
	padding: 20px 0px;
	min-height: 510px;
}
/***************************SERVICE***************************/
.service{
	margin: 50px 0px;
}
.button_small{
	margin-top: 45px;
	margin-left: 120px;
	height: 50px;
	width: 140px;
}