html{
  background-color: #f9f9f9;
}
.conteiner{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin: auto;
  width: 90%;
  height: 150px;
    justify-content: center;

}
h1{
  text-align: center;
  padding: 50px;
}
.box{ align-items: center;
  padding: 10px;
  flex-basis: 20%
background-color: #aeaeae;
text-align: center;
}
button{
  width: 200px;
  height: 55px;
  background: rgba(255, 255, 255, 0.5);
  color: #23bac1;
  font-weight: bold;
  border: 1px solid #23bac1
}
.text-bold{
  font-weight: bold;
}