html{
	font-family: sans-serif;
	}
.container{
	text-align: center;
	max-width: 90%;
	margin: 0 auto;
	}
.item{	
	padding: 0px 10px 0px 10px;
	display: inline-block;
	text-align: center;
	}
h1{
	text-transform: uppercase;
	text-align: center;
	color: #666666;
	padding: 45px 0px 70px 0px;
	}
p{
	text-transform: uppercase;
	font-size: 18px;
	color: #666666;
	}
.item__button{
	width: 130px;
	height: 40px;
	background-color: #66cc66;
	text-transform: uppercase;
	font-weight: bold;
	border: 3px solid #66cc66;
	color: #ffffff;
	}
.button_primary{
	background-color: #66cc66;
	color: #ffffff;

}
.button_outline{
	margin-right: 10px;
	background: rgba(255, 255, 255, 0.5);
	color: #66cc66;
	border: 3px solid #66cc66;
	}
