html{
    background-color: #aeaeae;
}
h1, h2{
    text-align: center;
    color: #e21919;
}
p{
    color: #3b22aa;
    text-align: left;
    margin: 0;
}
 img{
    margin: 0 auto;
    display: block;
    border: 3px solid #422222;
}
.text-italic{
    font-style: italic;
}
.text-bold{
    font-weight: bold;
}
.text-underline{
    text-decoration: underline;
}
.line-through{
    text-decoration: line-through;
    display: inline-block;
}
#navigation{
    background-color: #42aa8b74;
    position: fixed;
    padding: 30px;
    width: 25%;
    right: 10px;
    bottom: 10px;
    font-size: 24px;
}
.start{
    background-color: rgb(178, 77, 187);
}
.chapter1{
    background-color: rgb(214, 149, 149);
}
.chapter2{
    background-color: rgb(192, 241, 159);
}
.chapter3{
    background-color: rgb(102, 216, 178);
}
.chapter4{
    background-color: rgb(83, 139, 153);
}
.chapter5{
    background-color: rgb(115, 88, 189);
}
