*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
	margin: 0px;
}
@font-face {
font-family: 'Gotham Pro Bold';
src: url('GothamPro-Bold.eot');
src: url('GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
url('GothamPro-Bold.woff') format('woff'),
url('GothamPro-Bold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
font-family: 'Gotham Pro Light';
src: url('GothamPro-Light.eot');
src: url('GothamPro-Light.eot?#iefix') format('embedded-opentype'),
url('GothamPro-Light.woff') format('woff'),
url('GothamPro-Light.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
/********************************SECTION-HEADER*******************************/
.section-header{
	padding: 20px 0px;
}
.container{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	max-width: 940px;
	margin: 0 auto;
	padding-bottom: 50px;

}
.sb{
	justify-content: space-between;
}
.logo-text, .bold{
	font-family: 'Gotham Pro Bold';
	text-transform: uppercase;
	font-weight: 700;
	  letter-spacing: 2px;

}
.logo{
	display: inline-block;
}
.info{
	font-family: 'Gotham Pro Light';
	display: block;
	color: #9d9d9d;
	font-size: 11px;
}
.text, .tel{
	line-height: 20px;
	display: inline-block;
}
.text{
	margin-left: 10px;
}
.call{
	display: inline-block;
	width: 155px;
	padding: 10px 0px;
	color: #292929;
	border: 2px solid #292929;
	text-align: center;
	outline: none;
	text-decoration: none;
	background: rgba(255, 255, 255, 0.5);
	font-weight: bold;
	cursor: pointer;
}
.logo-block, .connection-block, .button{
	display: flex;
}
.block-call{
	margin-right: 10px;
}
/***************************SECTION-NAV******************************/

.nav{
	margin-bottom: -35px;
	background-color: #ffcc00;
	display: flex;
    justify-content: space-around;
    padding: 30px 0px;
    width: 940px;
}
/***************************SECTION-MAIN******************************/
.section-main{align-items: center;
	justify-content: space-between;
	height: 200px;
	height: 100vh;
	background: url(../img/fon.jpg) no-repeat;
	background-position: center center;
background-size: cover;
height: 520px;
}
.title{
	font-size: 36px;
	width: 350px;
	display: block;
}
.box{  display: flex;
  align-items: center;
  justify-content: flex-start;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

.block{
  display: flex;
  height: 100vh;
}
.box{
  display: flex;
  color: #000;
  align-items: center;
}
.cart{
	border: 1px solid #f6f6f6;
	margin-top: 50px;
	text-align: center;
    max-width: 300px;
    padding: 30px 0px 5px 0px;
}
.cart-title{
	display: block;
	font-weight: bold;
}
.price-title, .advantages-title{	
	padding-top: 50px;
	margin-top: 50px;
	text-align: center;
	text-transform: uppercase;
}
.cart-info{
	padding: 20px 55px;
}
.price-text{
	display: block;
    font-weight: bold;
}
.price-button{
	display: inline-block;
    width: 155px;
    padding: 10px 0px;
    color: #000;
    border: none;
    text-align: center;
    outline: none;
    text-decoration: none;
    background-color: #ffcc00;
    font-weight: bold;
    cursor: pointer;
    margin: 30px 0px;
}
.sa{
	justify-content: space-around;
}
.cart img{
	padding-bottom: 10px;
	display: block;
	margin: 0 auto;
}
.advantages{
	background-color: #f4f4f4;
}
.advantages-cart{
	border: 1px solid #fff;
}
.advantages-cart:hover{
	background-color: #fff;
	border: 1px solid #f4f4f4;
}

/***************************SECTION-popular******************************/
.skidka{
	font-family: 'Gotham Pro';
	font-size: 12px;
	color: #9d9d9d;
}
.price-text__skidka{
	font-family: 'Gotham Pro Bold';
	font-weight: bold;
	font-size: 16px;
	color: red;
}

.price_skidka{
	padding-top: 20px;
}
.pos{
	position: absolute;
    padding: 10px 0 0 20px;
}
.footer{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	height: 200px;
	background-color: #292929;
	
}
.developer{
	font-size: 24px;
	color: #fff;
}