@font-face {
font-family: "Roboto-Bold";  
src: url("../fonts/Roboto-Bold.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal;
 }
 @font-face {
font-family: "Roboto-Medium";  
src: url("../fonts/Roboto-Medium.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal;
 }
  @font-face {
font-family: "Roboto-black";  
src: url("../fonts/Roboto-Black.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal;
 }
@font-face{
font-family: "Roboto-Regular";
src: url("../fonts/Roboto-Regular.ttf") format("truetype");
font-style: normal; 
font-weight: normal; 
}
@font-face{
font-family: "OpenSans";
src: url("../fonts/OpenSans-Light.ttf") format("truetype");
font-style: normal; 
font-weight: normal; 
}
@font-face{
font-family: "OpenSans-Bold";
src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
font-style: normal; 
font-weight: normal; 
}
@font-face{
font-family: "OpenSans-SemiBold";
src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
font-style: normal; 
font-weight: normal; 
}
body{
	font-family: OpenSans;
}
.main{
	background: url(../img/main/main-img.jpg) no-repeat center;
	padding-bottom: 80px;
}
.main-text{
	padding-top: 80px;
}
.search-block{
	height: 65px;
	background-color: #fff;
	border-radius: 50px;
	/*padding: 30px;*/
}
.search{
	vertical-align: middle;
}
.btn{
	margin-bottom: 220px;
	width: 200px;
	padding: 15px 0px;
	border-radius: 100px;
	font-weight: bold;
}
span.text-title{
	font-family: "Roboto-Bold";
	font-size: 115px;
	font-weight: 700;
}
.hero-text{
	line-height: 35px;
	margin-top: 100px;
}
.yw{
	color: #fbf934;
}
h3.subtitle{
	font-family: "Roboto-Regular";
	padding-bottom: 90px;
	font-size: 50px;
}

.row-trendy{
	transform: translateY(-80px);
    -webkit-transform: translateY(-80px);
	padding: 50px 30px;
    background-color: #fff;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.15);
}
.product{
	padding: 20px 0px 80px 0px;
	margin-top: 40px;
}
.product:hover{
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.03);
    text-align: center;
}
.product img{
	height: 250px;
}
.section-title{
	font-family: "OpenSans-Bold";
	font-weight: bold;
	font-size: 50px;
}
.product-title {
	font-size: 18px;
	padding-top: 20px;
	display: block;
	color: #777777;
}
.product-price{
	font-size: 25px;
	font-weight: bold;
}
.product-price:hover{
	font-weight: bold;
	color: #8c84f9;
}
img.element-3{
    position: absolute;
    width: 100px;
    height: 100px;
    right: 145px;
    top: -15px;}
img.element-4{
    position: absolute;
    width: 100px;
    height: 100px;
    right: 325px;
    top: 28px;
    z-index: -1;}
img.element-5{
    position: absolute;
    width: 50px;
    height: 70px;
    right: 150px;
    top: 25px;}
 .element-7{  position: absolute;
    width: 100px;
    height: 100px;
    right: -77px;
    bottom: 100px;} 
.our-brand{
	margin-bottom: 70px;
}
.our-brand-subtitle{
	padding: 35px 0px;
	font-size: 25px;
	width: 400px;
}
.violet{
	color: #8d83f9;
}
.gray {
	color: #bbb;
	font-size: 14px;
}
.cmt-cnt {
	height: 22px;
	margin-bottom: 30px;
}
.comments img {height: 22px;}
.our-brand-text{
	font-size: 16px;
	color: #888888;
	line-height: 25px;
}
.newsletter{
	font-family: "Roboto-Black";
	background: linear-gradient(to right, #8c84f9, #a165f4);
	padding-top: 150px;
	margin-top: -150px;
	padding-bottom: 120px;
}	
.notified {
	color: #fff;
	font-size: 150px;
	font-weight: bold;
	margin-top: -150px;
	opacity: 0.1;
}
.nav-tabs {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	border-bottom: 0;
	border-radius: 50px;
	-webkit-box-shadow: 0px 0px 20px 20px rgba(248,248,248,1);
	-moz-box-shadow: 0px 0px 20px 20px rgba(248,248,248,1);
	box-shadow: 0px 0px 20px 20px rgba(248,248,248,1);
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
	color: #b394fa;
	text-shadow: -1px 6px 6px #a165f4;
	font-size: 20px;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
	background-color: transparent;
	border: none;
}
.nav-tabs .nav-link {
	border: 0;
	margin: 5px;
}
.nav-tabs .nav-link {
	color: #333;
	font-size: 15px;
}

.btn-light {
	background: #fcfcfc;
}
.btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active, .show > .btn-light.dropdown-toggle {
	background: #fcfcfc;
}
.btn-light:focus, .btn-light.focus {
	box-shadow: none;
	background: #ffffff;
}
.btn-light:hover {
	background: #fff;
	-webkit-box-shadow: 2px 3px 10px 2px rgb(189, 227, 239, 1);
	-moz-box-shadow: 2px 3px 10px 2px rgb(189, 227, 239, 1);
	box-shadow: 2px 3px 10px 2px rgb(189, 227, 239, 1);
}

.row-trendy .btn {
	width: 100%;
	background: linear-gradient(to right, #8c84f9, #a165f4);
	padding: 12px;
	color: #fff;
	margin-bottom: 0;
	margin-top: -25px;
}
.row-trendy .btn:focus, .btn.focus {
	box-shadow: none;
}
.terndy-collection .btn-cnt { height: 60px;}
.terndy-collection .btn-cart, .terndy-collection .comments {
	display: none;
}
.terndy-collection .col-md-4:hover .btn-cart{
	display: block;
}
.terndy-collection .col-md-4:hover .comments {
	display: flex;
}
.terndy-collection .col-md-4:hover .product .product-price{
	color: #8c84f9;
}
.terndy-collection .col-md-4:hover .product{
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.03);
}

.gr-send {
	height: 60px;
    background: #fff;
    border-radius: 50px;
    padding: 5px 5px 5px 25px;
    margin-top: 85px;
}
.gr-send .btn-default {
	
	background: linear-gradient(to right, #8c84f9, #a165f4);
	padding: 12px;
	color: #fff;
}
.gr-send .btn:focus, .btn.focus {box-shadow: none;}

.gr-send .form-control[type="text"] {
	margin-top: 5px;
	border: 0;
}

textarea:focus, input[type="text"]:focus,textarea[type="text"]:focus,   input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus,  input[type="color"]:focus, .uneditable-input:focus, .form-control, .form-control:focus {  
	border-color: none;
	box-shadow: none;
	outline: none;
	font-family: OpenSans;
}
#basic-addon1 {height: 65px;}

.search-block .input-group-text {
	background: none;
	border: none;
}
.search-block .tsearch {margin-top: 11px; border: none;}
.tsearch::placeholder {
	color: #151515;
}
.search-block .btn {
	border: none;
	color: #121212;
	width: 100%;
}

.ddn-search {    
	border-left: 1px solid #ccc;
    height: 55px;
    margin-top: 5px;
}
.btn-outline-secondary:hover {
	background-color: transparent;
	border-color: none;
	color: #121212;
}
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-secondary.dropdown-toggle:focus {
	box-shadow: none;
	background: transparent;
	color: #121212;
}
.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active, .show > .btn-outline-secondary.dropdown-toggle {
	background-color: transparent;
	border-color: none;
	color: #222;
}
.btn-outline-secondary:focus, .btn-outline-secondary.focus {
	box-shadow: none;
}
.newsletter h1 {color: #ffffff; font-weight: bold; font-size: 50px;}

.fa-long-arrow-right {color: #8d83f9; font-size: 18px;}
.gr-btn { 
	height: 60px;
	margin-top: -35px;
}
.social-icon{
	margin: 0px 15px;
	width: 50px;
	height: 50px;
	border: 1px solid #eeedee;
	border-radius: 50px;
	font-size: 18px;
	line-height: 50px;
}
.social-icon:hover{	box-shadow: 2px 3px 10px 2px rgb(189, 227, 239, 0.5);
	background: linear-gradient(to top, #8c84f9, #a165f4);
color: #fff;
}
.fa-instagram{
	font-weight: bold;
}
.navigation{
	font-size: 20px;
	padding: 55px 0px;
}
.list{font-family: "OpenSans-SemiBold";
	color: #000;
	padding: 0px 25px;
}
.list:hover{

	text-decoration: none;
	color: #000;
}

.footer-title{
font-family: "Roboto-Medium";
	font-size: 40px;

}
.footer-copy{
	padding: 30px 0px;
	color: #777777;
	background-color: #f6f5f7;
}
.footer-copy span{
	font-size: 15px;
}
@media (max-width: 575.98px) { 
	.notified {
		font-size: 50px;
		margin-top: -62px;
	}
	.newsletter h1 {font-size: 30px;}
	.our-brand{
		margin-bottom: 140px;
	}
	span.text-title {
		font-size: 75px;
	}
}

@media (min-width: 576px) and (max-width: 767.98px) {
	.notified {
		font-size: 70px;
		margin-top: -85px;
	}
	.our-brand{
		margin-bottom: 140px;
	}
	span.text-title {
		font-size: 95px;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.notified {
		font-size: 80px;
		margin-top: -95px;
	}
	.our-brand{
		margin-bottom: 140px;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) { 
	.notified {
		font-size: 100px;
		margin-top: -105px;
	}
}